.nav{
    background-color: #e3e4e5;
    position: fixed;
    width: 100%;
}
.inicio{
    margin-top: 120px;
    height: 100%;
    margin-bottom: 380px;
}

.footer{
    background-color: #e3e4e5;
    position: relative;
    bottom: 0;
}

.form{
    height: 100%;
    width: 100%;
}

.boton{
    background-color: #daa592;
}

.google{
    background-color: red;
    width: 100%;
    margin-bottom: 5px;
}

.facebook{
    background-color: #3b5998;
    width: 100%;
    margin-bottom: 5px;
}
.twitter{
    background-color: #00acee;
    width: 100%;
}

.card-body{
    margin-top: 90px !important;
}

.btn{
    background-color: #daa592;
    border: none;
}

.btn:hover{
    filter: opacity(35%);
    transition: all .6s;
}

.message{
    height: 100%;
    display: flex;
    align-items: center;
}

.fadeInUp{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    to{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@media(max-width:600px){
    .mobile-marpad{
        padding: 0px !important;
        margin: 0 !important;
        
    }
}