.nav{
    background-color: #e3e4e5;
    position: fixed;
    width: 100%;
}

.breadcrumb{
    background-color: #e3e4e5;
    margin-top: 114px;
    border-top: 1.5px solid;
    border-color: #c1c1bf;
}

.footer{
    background-color: #e3e4e5;
    position: relative;
    bottom: 0;
}

.card-body{
    border: none;
}

.btn{
    background-color: #daa592;
    border: none;
}

.btn:hover{
    filter: opacity(60%);
    transition: all .6s;
}


.modal-content{
    background-color: #E3E4E5;
    border-radius: 10px;
}

.modal-header{
    background-color: #DAA592;
    border-radius: 10px 10px 0 0;
}

.message{
    height: 100%;
    display: flex;
    align-items: center;
}


.fadeInUp{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    to{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@media(max-width:600px){
    .mobile-marpad{
        padding: 12px !important;
        margin: 0 !important;
        
    }
}